@import url('https://fonts.googleapis.com/css?family=Allura|Josfin+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
/*orange color e67222 */

* {
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	
	background-color: #fff;
	color: #555;
	font-family: 'Lato','Arial',sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}
.clearfix {zoom 1}
.clearfix:after {
	content: '';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	
}

.row {
	max-width: 1140px;
	margin: 0 auto;
	
}

/*----white space------*/
section{
	
	padding: 80px 0;
	
	/*----top & bottom left & right n------*/
}

.box{
	
	padding: 2%;
}

/*-----Headings start---------*/
h1,
h2
{
	
	font-weight: 300;
	text-transform: uppercase;
	
	
}

.section-cities h2{
	color: #fff;
	
}


h1{
	
	color: #fff;
	/*font-size: 240%;*/
	
	
}

h2{
    font-size: 180%;
	word-spacing: 4px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 2px;
}
/*h3{
	
	font-size: 110%;
	margin-bottom: 15px;
	margin-left: 15px;
}*/

h2:after{
	
	display: block;
	height: 2px;
	background-color: #42a3eb;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 20px;
}
/*-----Headings end---------*/

/*-----Pharagraphs start----*/
.long-copy{
	
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
}

.box p{
	
	font-size: 90%;
	line-height: 145%;
}
/*-----Icons start------*/
.icon-big{
	
	font-size: 350%;
	display: block;
	color: #e67222; 
	margin-bottom: 10px;
}
/*-----Icons end--------*/

/*-----Pharagraphs end------*/


/*-----Headings end---------*/

/*Button start*/
.btn:link,
.btn:visited,
input[type=submit]
{
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.22, color 0.2s;
	
	
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
	background-color: #2a6b9b;
	border: 1px solid #2a6b9b;
	color: #fff;
	margin-right: 15px;
	margin-left: 55px;
	cursor: pointer;
}

.btn-ghost:link,
.btn-ghost:visited{
	
	border: 1px solid #2a6b9b;
	color: #2a6b9b;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:Active {
	background-color: #038df4;
	
}


.btn-full:hover,
.btn-full:active,
input[type=submit]{
     border: 1px solid #2a6b9b;
}
  
.btn-ghost:hover,
.btn-ghost:active{
	border: 1px solid #cf6d17;
	color: #fff;
}

/*Button end*/

/*Header section start*/
header{
	
	/*background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(img/hero.jpg);*/
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero1711.jpg
	);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}


.menu-box{
	
	width: 100%;
	background-color: #484644;
    background-attachment: fixed;
	top: 0;
	padding: 10px 50px;
	height: 80px;
	position: fixed;
	left: 0%;
	z-index: 9999;
	border-bottom: 1px solid #d1d81f
}



h4 span:nth-child(2){animation-delay: .1s}
h4 span:nth-child(3){animation-delay: .2s}
h4 span:nth-child(4){animation-delay: .3s}
h4 span:nth-child(5){animation-delay: .4s}


@keyframes bounce {
	
	100% {
		
		top: -10px;
		text-shadow: 1px 0 #b1b1b1,
				 0 2px 0 #b1b1b1,
			     0 3px 0 #b1b1b1,
		         0 4px 0 #b1b1b1,
		         0 5px 0 #b1b1b1,
		         0 6px 0 #b1b1b1,
		         0 7px 0 #b1b1b1,
		         0 8px 0 #b1b1b1,
		         0 9px 0 #b1b1b1,
		         0 10px 10px rgba(0,0,0,0.2);
	}
}

.hero-text-box{
	position: absolute;
	background: rgba(41, 39, 39, 0.5);
	top:50%;
	left: 5%;
	
	padding: 30px 0px 30px 30px;
    text-align:right;

}

.hero-text-box h4{
	font-size: 250%;
	font-weight: 300;
	color: #fff;
	text-align: left;
	
}

.hero-text-box h1{
	margin-top: 0px;
	font-size: 100%;
	font-weight: 200;
	color: #fff;
	margin-right: 30px;
}

.logo{
	height:60px;
	width:auto;
	float:left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

/*---------Menus--------*/
.main-nav{
	
	float: right;
	list-style: none;
	margin-top: 15px;
	margin-bottom: 10px;
	
}

.main-nav li{
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
	
}

/***elements in menu****/
.main-nav li a:link,
.main-nav li a:visited{
	padding: 8px 0;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 80%;
	border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
	
}

.main-nav li a:hover,
.main-nav li a:active{
	border-bottom: 2px solid #42a3eb;
}

/****sticky navi****/

.sticky{
	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
	padding: 8px 0;
	color: #000000;
	
}

.sticky .main-nav{ 
	
	margin-top: 15px;

}
	
	
/*mobile icon-nav*/
.mobile-nav-icon{
	
	float: right;
	margin-top: 10px;
	cursor: pointer;
	display: none;
	
	
}

.mobile-nav-icon i{ 
	font-size: 180%;
	
	color: #767272;
}
/*Header section end*/

/*_------------------------------*/

/*FEAUTERSt*/

/*_------------------------------*/
.section-features long-copy{
	
	margin-bottom: 30px;
	text-align: justify;
	
}

.section-features{
	
	background-color: #fff;
	
}

.long-copy{
	text-align: justify;
	
}

/*Meals section start*/
.section-meals {
	padding: 0;
	
}

.meals-showcase{
	
	list-style: none;
	width:100%;
}

.meals-showcase li{
	display: block;
	float: left;
	width:25%;
	
}

.meals-photo{
	
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.meals-photo img {
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.10);
	transition: transform 0.5s , opacity 0.5s;
}

.meals-photo img:hover{
	opacity: 1;
	transform: scale(1.03);
}


/*_------------------------------*/

/*HOW IT WORKS*/

/*_------------------------------*/

.steps-box:first-child {
	
	text-align: right;
	padding-right: 3%;
	margin-top: 30px;
	padding-left: 6%;
	
}



.law li a:link,
.law li a:visited {
	text-decoration: none;
	color: #337DB4;
}

.steps-box:last-child {
	
	padding-left: 20%;
	margin-top: 70px;
	
	
	
}

.steps-box:last-child li{
	
list-style: none;
	
	
}

.steps-box li a:visited{
	
	text-decoration: none;
	border: 0;
	color: #337DB4;
	transition: color 0.2s;
}



.app-screen{
	width: 40%;
}

.works-step{
	
	margin-bottom: 50px;
	color: #337DB4;
}

.works-step:last-of-type{
	
	margin-bottom: 80px;
}

.works-step div{
	
	color: #337DB4;
	border: 2px solid #337DB4;
	display: inline-block;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	text-align: center;
	
	float: left;
	font-size: 110%;
	margin-right: 25px;
	margin-bottom: 10px;
	
	
}

.works-step li{
	margin-top: 50px;
	
}

.btn-app:link,
.btn-app:visited{
	border: 0;
	
}

.btn-app img{
	
	height: 50px;
	width: auto;
	margin-right: 10px;
}


/*_------------------------------*/

/*CITIES*/

/*_------------------------------*/

.box img{
	
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	max-height: 170px;
	max-width: 170px;
}

.city-feature{
	margin-bottom: 5px;
}

.icon-small{
	
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #c2c924;
	font-size: 120%;
	margin-right: 10px;
	/*-Secrets to align text and icons-*/
	line-height: 120%;
	vertical-align: middle;
	margin-top: 2px;
}

/*_------------------------------*/
/*LINKS*/
/*_------------------------------*/

a:link,
a:visited{
	
	color: #337DB4;
	text-decoration: none;
	padding-bottom: 1px;
	
	transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
	color: #555;
	border-bottom: 1px solid transparent;
}

/*_------------------------------*/
/*TESTIMONIALS*/
/*_------------------------------*/

.section-testimonials{
	background-image:  linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
}


blockquote{
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	/*must declare here..bcz it is a parent part*/
	position: relative;
	margin-top: 40px;
}

blockquote:before{
	
	content: "\201C";
	font-size: 500%;
	display: block;
	position:absolute;
	top: -5px;
	left: -5px;
}


cite{
	
	font-size: 90%;
	margin-top: 25px;
	display: block;
}



cite img{
	
	height: 45px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
}


/*_------------------------------*/
/*SIGN UP*/
/*_------------------------------*/

.Contact-Form11{
	
	background: rgba(0,0,0,.6);
	color: white;
	padding: 20px;
	box-shadow: 0px 0px 10px 3px gray;
}

.section-plans{
	
	background-color: #b1b1b1;
}

.section-plans iframe{
	margin-left: 50px;
}

.section-steps{
	
	background-color: #fff;
}

.section-events{
	font-family: sans-serif; 
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/ev30.jpg);
	background-position:center;
	
}

.section-events .leftBox{
	width: 50%;
	height: 100%;
	float:left;
	padding: 50px;
	box-sizing: border-box;
} 

.section-events .leftBox .content{
	
	color: #fff;
	padding: 40px;
	background: rgba(0,0,0,.5);
	transition: .5s;
	
}

.section-events .leftBox .content:hover{
	background: #337DB4;
}

.section-events .leftBox .content h4{
	margin: 0;
	padding: 0;
	font-size: 30px;
	text-transform: uppercase;
	
}

.section-events .leftBox .content p{
	margin: 10px 0 0;
	padding: 0;
}

.section-cities{
	
	/*background-color: #b6f4ae;*/
	background-color: #22252a;
	
}

.section-cities .card{
	width: 25%;
	float: left;
	padding: 0px 15px;
	
}

.section-cities .card .box{
	padding: 15px;
	background: #2d3035;
	border-radius: 5px;
	transition: margin 1s ease,box-sadow 1s ease;
}
.section-cities .card .box:hover{
	margin-top: -15px;
	box-shadow: 0px 0px 40px black;
}

.section-cities .card .box h3{ 
	font-size: 20px;
	font-family: open sans;
	margin: 20px 0px 10px;
	color: #337DB4;
	text-align: center;
	font-weight: 700;
}

.section-cities .card .box h4{ 
	font-size: 16px;
	font-family: open sans;
	font-weight: 600;
	color: #b9b9b9;
	margin: 0px 0px 15px;
	text-align: center;
}
.section-cities .card .box p{ 
	color: #b9b9b9;
	font-size: 15px;
	font-family: open sans;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	padding: 0px 20px;
}

.section-cities .card img{
	width: 150px;
	display: block;
	margin:10px auto;
	border-radius: 50%;
	
	
}

/*Mobile Responsive*/

@media(max-width: 991px)
{
	.section-cities .card
	{
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 550px)
{
	.section-cities .card
	{
		width: 100%;
		margin-bottom: 30px;
	}
}


.section-events .events{
	
	position:relative;
	width: 50%;
	height: 100%;
	
	float: right;
	box-sizing: border-box;
}

.section-events .events .ul{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
	padding: 40px;
	box-sizing: border-box;
}
.section-events .events ul li{
	list-style: none;
	background: #fff;
	box-sizing: border-box;
	height: 200px;
	margin: 15px 0;
}


.section-events .events ul li .time{
	position: relative;
	padding: 20px;
	background: #262626;
	box-sizing: border-box;
	width: 30%;
	height: 100%;
	float: left;
	text-align: center;
	transition: .5s;
	
}

.section-events .events ul li:hover .time{
	background: #337DB4;
}


.section-events .events ul li .time h5{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 50px;
	line-height: 30px;
}

.section-events .events ul li .time h5 span{
	font-size: 30px;
}

.section-events .events ul li .details{
	
	padding: 20px;
	background: #fff;
	box-sizing: border-box;
	width: 70%;
	height: 100%;
	float: left;
}

.section-events .events ul li .details h4{
	position: relative;
	font-size: 22px;
	padding: 0;
	margin: 0;
}

.section-events .events ul li .details p{
	position: relative;
	font-size: 16px;
	padding: 0;
	margin: 10px 0 0;
}

.section-events .events ul li .details a{
	display: inline-block;
	text-decoration: none;
	
	padding: 10px 15px;
	border: 2px solid #262626;
	margin-top: 15px;
	font-size: 18px;
	transition: .5s;
	
}

.section-events h2{
	
	color: #fff;
}

.section-events .events ul li .details a:hover{
	background: #337DB4;
	color: #fff;
	border-color: #337DB4;
}

/*.section-form{
	background-position: center;
	height: 100%;
	width: 100%;
	background-size: cover;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/contact4.png);
	padding-bottom: 2%;
	
}*/

.section-form{
	background-color: #fff;
	
	/*background-size: cover;
	background-position: center;*/

}
.contact-container{
	
	width: 90%;
	margin: auto;
	overflow: hidden;
	text-align: center;
}

.contact-form2 i.fa{
	
	font-size: 22px;
	padding: 3%;
	border-radius: 80%;
	background-color: none;
	margin: 2%;
	cursor: pointer;
	border: 2px solid #337DB4;
	color: #337DB4;
	
}



.contact-form2{
	
	display: grid;
	grid-template-columns: auto auto;
}

.contact-form:hover{
	
	margin-top: -15px;
	box-shadow: 0px 0px 40px black;
}


.submit{
	
	width: 40%;
	background: none;
	padding: 4px;
	outline: none;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 30px;
	text-align: center;
	cursor: pointer;
margin-left: 3%;
	
	border: 2px solid #000000;
}


.submit:hover{
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer
}
.section-form .contact-container p{
	text-align: center;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3%;
	color: #000000;
	letter-spacing: 1px;
	
}


.contact-form{
	width: 120%;
	box-sizing: border-box;
	border-radius: 8px;
	max-width: 600px;
	background: #337DB4;
	padding: 30px 40px;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: center;
	box-shadow: 0 0 20px #000000b3;
}

.txtb{
	
	border: 1px solid #fff;
	margin: 8px 0;
	padding: 12px 18px;
	border-radius: 8px;
}

.txtb label{
	
	display: block;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
}

.txtb input{
	width: 100%;
	border: none;
	height: 40px;
	outline: none;
	font-size: 18px;
	margin-top: 6px;
}

.txtb textarea{
	width: 100%;
	border: none;
	height: 60px;
	outline: none;
	font-size: 18px;
	margin-top: 6px;
}

.btn{
	
	display: inline-block;
	background: #337db4;
	
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 8px;
	width: 50%;
	border-radius: 10px;
	border: 1px solid #fff;
}

.plan-box{
	
	background-color: #fff;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
	box-shadow: 0 2px 2px #e3e3e3;
	
}

.plan-box div{
	
	padding: 15px;
	border-bottom: 1px solid #8e8e8e;
}

.plan-box div:first-child{
	background-color: #fcfcfc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.plan-box div:last-child{
	
	text-align: center;
	border: 0;
	background-color: #fcfcfc;
}

.plan-price{
	
	font-size: 300%;
	margin-bottom: 10px;
	font-weight: 100;
	color: #e67222;
}

.plan-price span{
	
	font-size: 30%;
	font-weight: 300;
}

.plan-price-meal{
	
	font-size: 80%;
}

.plan-box ul{
	
	list-style: none;
}

.plan-box ul li{
	padding: 5px 0;
}


/*_------------------------------*/

/*Contact form*/

/*_------------------------------*/

.contact-form{
	
	width: 60%;
	margin: 0 auto;
}


/*input[type=text],
input[type=email],
select,
textarea{
	
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

textarea{
	
	height: 150px;
}
*/
input[type=checkbox]{
	
	margin: 10px 5px 10px 0;
}

*:focus{outline: none;}


/*_------------------------------*/

/*Footer*/

/*_------------------------------*/

footer{
	
	background-color: #333;
	padding: 50px;
	font-size: 80%;
}

.footer-nav{
	
	list-style: none;
	float: left;
}

.social-links{
	
	list-style: none;
	float: right;
}

.footer-nav li,
.social-links li{
	display: inline-block;
	margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
	margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
	
	text-decoration: none;
	border: 0;
	color: #888;
	transition: color 0.2s;
}


.footer-nav li a:hover,
.footer-nav li a:visited{
	
	color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
	
	font-size: 160%;
}

.ion-social-facebook:hover{
	color: #3b5998;
}
.ion-social-twitter:hover{
	color: #00aced;
}
.ion-social-youtube:hover{
	color: #f2260d;
}
.ion-social-instagram:hover{
	color: #517fa4;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-youtube,
.ion-social-instagram{
	transition: color 0.2s;
	
}

.moblie-contact {
	
	margin-top: 20px;
	box-sizing: border-box;
	
	
}

.moblie-contact p{
	float: right;
	margin-top: 0px;
	display:block;
	
}

.contacts-icon{
	
	float: right;
	padding-left: 0px;
	margin-top: 0px;
}

footer p{
	
	color: #888;
	text-align: center;
	margin-top: 20px;
}

/*_------------------------------*/

/*events/

/*_------------------------------*/


.event-copy{
	
	text-align: justify;
	margin-top: 10px;
	
}

.FirstH5{
	
	margin-top: 7px;
	
}
.SecondH5{
	
	margin-top: 10px;
	
}
.event-box1{
	
	border: 2px solid #42a3eb;
	padding: 35px;
	height: 45%;
	width: 100%;
	font-size: 85%;
	font-weight: 400;
	
}

.event-box3{
	
	border: 2px solid #42a3eb;
    margin-left: 20px;
	margin-right: 20px;
	padding: 30px;
	font-size: 80%;
	font-weight: 400;
}

h5{
	
	font-size: 100%;
	font-weight: 900;
}
.event-box2{
	
	border: 2px solid #d1d81f;
	padding: 22px;
	height: 30%;
	width: 100%;
	font-size: 85%;
	font-weight: 400;
}

.clickHereLink1{
	
	list-style: none;
	text-decoration: none;
	margin-top: 20px;
	color: #d1d81f;
}

.clickHereLink2{
	
	list-style: none;
	text-decoration: none;
	margin-top: 18px;
}

.Emcee{
	
	width: 40%;
	height: 30%;
	margin-left: 320px;
	border: 20px solid white;
	box-shadow: 0px 0px 5px 2px #d1d81f;
}
.ThirdH5{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
	

}

.Kruze{
	
	text-align: center;
	font-size: 110%;
	font-weight: 600;
	margin-bottom: 20px;
	margin-top: 10px;
}


.team{
	display: flex;
	text-align: center;
	width: auto;
	justify-content: center;
	margin-top: 60px;
}

.team .team-member{
	
	background: #99d4e6;;
	margin: 5px;
	margin-bottom: 50px;
	width: 300px;
	padding: 20px;
	line-height: 20px;
	color: #8e8b8b;
	position: relative;
	border-radius: 10%;
}

.team .team-member h3{
	color: #000000;
	font-size: 15px;
	margin-top: 50px;
}
.team .team-member p.role{
	
	color: #000000;
	font-size: 12px;
	text-transform: uppercase;
	margin: 12px 0;
}
.team .team-member .team-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
}
.team .team-member .team-img img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #b1b1b1;
	padding: 10px;
}
.hero-text-box {
	font-family: sans-serif;
}




.Head-conatiner{
	 
	color: #fff;
	text-align: left;
}

.Head-conatiner span{
	
	
	
	display: block;
}

.text1{
	color: white;
	font-size: 60px;
	font-weight: 700px;
	letter-spacing: 2px;
	margin-bottom: 5px;
	position: relative;
	animation:text 3s 1;
	text-transform: uppercase;
}
.text2{
	color: #337DB4;
	font-size: 30px;
	margin-right: 20px;
	margin-top: 0px;
}

@keyframes text {
	
	0%{
		color: black;
		margin-bottom: -40px;
	}

	
}



.PersonalContactMain{
	
	margin-top: 30px;
	text-align: center;
}

.PersonalContact1 .form-info{ 
	font-family: serif;
	font-weight: 400;
	margin-left: 5px;
}

.PersonalContact2 .form-info{ 
	font-family: serif;
	font-weight: 400;
	margin-left: 5px;
}

.icon-small1{
	
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #337db4;
	font-size: 120%;
	margin-left: 450px;
	/*-Secrets to align text and icons-*/
	line-height: 120%;
	vertical-align: middle;
	margin-top: 2px;
	
}

.icon-small2{
	
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #337db4;
	font-size: 120%;
	margin-left: 460px;
	/*-Secrets to align text. and icons-*/
	line-height: 120%;
	vertical-align: middle;
	margin-top: 2px;
	
}
.PersonalContact1 p{
	color: #337DB4;
	
	float: right;
	margin-right: 490px;
	
}
.PersonalContact2 p{
	
	float: right;
	margin-right: 480px;
}

/*Animation*/
 .js--wp-1,
 .js--wp-2,
.js--wp-3,
.js--wp-4{
	
	opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.js--wp-1.animated,
 .js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated{
	
	opacity: 1;
}


